{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
    {release, {'Messenger', "0.1.0"}, ['Messenger']},
    {dev_mode, true},            %% Default for local dev
    {include_erts, false},       %% Don't package ERTS for local shell
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},   %% Copy files, don't symlink
            {include_erts, true} %% Include the runtime for Alpine
        ]}
    ]}
]}.